<% if user_signed_in? %>
  <button class="sign_in btn">
  <%= link_to "Sign out", destroy_user_session_path, :method => :get %>
</button>
<% else %>
  <button class="sign_in btn">
  <%= link_to('Login', new_user_session_path)  %>
</button>
<% end %>
