<div class="container">
  <div class="page_header">
  </div>
</div>
<% conversation.participants.each do |participant| %>
  <% unless participant == current_user %>
    <p> To: <%= gravatar_for participant %></p>
  <% end %>
<% end %>
