<div class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</div>
<div class="container-fluid">
  <div class="jumbotron">
    <h1>Welcome to iOU</h1>
    <p>So your friends and familys debts arn't forgotten about.</p>

    <%= render 'devise/menu/conversation_items' %>
  </div>
</div>
<%= stylesheet_link_tag 'messages.css' %>
